//------------Обнуление стилей------------//  

*, *:before, *:after{
  box-sizing: border-box;                     // Для вычисления ширины и высоты по границам и отступам
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;                            // Размер шрифта относительно родительского элемента
  font: inherit;
  vertical-align: baseline;                   // Вертикальное выравнивание по базовой линии родительского элемента
  text-rendering: optimizeLegibility;         // Упор рендеринга на удобочитабельность (Использование кернинга и лигатур)
  -webkit-font-smoothing: antialiased;        // Сглаживайте шрифт на уровне пикселя, в отличие от подпикселя.
  text-size-adjust: none;
  text-decoration: none;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  //-webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: 'Aqum';
  src: url('./../fonts/aqum/Aqum.eot');
  src: local('Aqum'),
      url('./../fonts/aqum/Aqum.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/aqum/Aqum.woff2') format('woff2'),
      url('./../fonts/aqum/Aqum.woff') format('woff'),
      url('./../fonts/aqum/Aqum.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Golos UI';
  src: url('./../fonts/aqum/Aqum.eot');
  src: local('Golos-UI'),
  url('./../fonts/Golos UI/Golos-UI_Regular.ttf') format('truetype');
  font-style: normal;
}